body {
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    overflow: hidden;
}

video {
    width: auto;
    height: auto;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9); /* Adjust the background color and opacity */
    padding: 20px;
    color: #fff; /* Text color */
    text-align: center;
}

.text-box h1 {
    margin-bottom: 10px;
}
